<!DOCTYPE html>
<html>
  <head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
  </head>
  <body>
    
    <div>
<div style="background-color:#f5f7fb">
<div style="background-color:#f5f7fb">
<div style="margin:0px auto; max-width:600px">
<table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="width:100%">
<tbody>
<tr>
<td style="direction:ltr; font-size:0px; padding:0px 10px; text-align:center; vertical-align:top">
<div style="background:#f7f8f9; background-color:#f5f7fb; margin:0px auto; max-width:580px">
<table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="background:#f7f8f9; background-color:#f5f7fb; width:100%">
<tbody>
<tr>
<td style="direction:ltr; font-size:0px; padding:20px 0; text-align:center; vertical-align:top">
<div class="x_mj-column-per-100 x_outlook-group-fix" style="font-size:13px; text-align:left; direction:ltr; display:inline-block; vertical-align:top; width:100%">
<table border="0" cellpadding="0" cellspacing="0" role="presentation" width="100%" style="vertical-align:top">
<tbody>
<tr>
<td style="font-size:0px; word-break:break-word">
<div style="height:10px">&nbsp; </div>
</td>
</tr>
<tr>
<td align="center" style="font-size:0px; padding:10px 40px; word-break:break-word">
<table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="border-collapse:collapse; border-spacing:0px">
<tbody>
<tr>
<td style="font-size:32px; font-family: Montserrat;"><a href="https://www.uneapp.com" style="text-decoration: none;" target="_blank"><span style="background: #437dd2;
    color: white;
    padding-left: 4px;
    padding-right: 4px;
    font-weight: bold;
    border-radius: 8px 0px;
    margin-right: 1px;">une</span><span style="    font-weight: bold;
    color: #495056;">app</span></a></td>
</tr>
</tbody>
</table>
</td>
</tr>
<tr>
<td style="font-size:0px; word-break:break-word">
<div style="height:10px">&nbsp; </div>
</td>
</tr>
</tbody>
</table>
</div>
</td>
</tr>
</tbody>
</table>
</div>
<div style="background:#ffffff; background-color:#ffffff; margin:0px auto; max-width:580px">
<table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="background:#ffffff; background-color:#ffffff; width:100%">
<tbody>
<tr>
<td style="direction:ltr; font-size:0px; padding:20px 0; text-align:center; vertical-align:top">
<div class="x_mj-column-per-100 x_outlook-group-fix" style="font-size:13px; text-align:left; direction:ltr; display:inline-block; vertical-align:top; width:100%">
<table border="0" cellpadding="0" cellspacing="0" role="presentation" width="100%" style="vertical-align:top">
<tbody>
<tr>
<td style="font-size:0px; word-break:break-word">
<div style="height:10px">&nbsp; </div>
</td>
</tr>
<tr>
<td align="left" style="font-size:0px; padding:10px 40px; word-break:break-word">
<div style="font-family: Montserrat; font-size: 28px; font-weight: 600; line-height: 1; text-align: left; color: rgb(58, 58, 58);">
  Nouveau / Modification !
  <% if @user.role_editor? %>
  <% end %>
</div>
</td>
</tr>
</tbody>
</table>
</div>
</td>
</tr>
</tbody>
</table>
</div>


<div style="background:#ffffff; background-color:#ffffff; margin:0px auto; max-width:580px">
<table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="background:#ffffff; background-color:#ffffff; width:100%">
<tbody>
<tr>
<td style="direction:ltr; font-size:0px; padding-bottom:20px; text-align:center; vertical-align:top">
<div class="x_mj-column-per-100 x_outlook-group-fix" style="font-size:13px; text-align:left; direction:ltr; display:inline-block; vertical-align:top; width:100%">
<table border="0" cellpadding="0" cellspacing="0" role="presentation" width="100%" style="vertical-align:top">
<tbody>
<tr>
<td align="left" style="font-size:0px; padding:10px 40px; word-break:break-word">
<div style="font-family: Montserrat; font-size: 22px; font-weight: 100; line-height: 1; text-align: left; color: rgb(58, 58, 58);">
  de : <%= @user.name %> (<%= @user.email %>)</div>
</td>
</tr>
<tr>
<td style="font-size:0px; padding:10px 40px; word-break:break-word">
<p style="border-top:solid 1px #EAEAEA; font-size:1; margin:0px auto; width:100%">
</p>
</td>
</tr>
</tbody>
</table>
</div>
</td>
</tr>
</tbody>
</table>
</div>


<div style="background:#ffffff; background-color:#ffffff; margin:0px auto; max-width:580px">
<table border="0" cellpadding="0" cellspacing="0" role="presentation" width="100%" style="vertical-align:top">
<tbody>
<tr>
</tr>
<tr>
<td align="center" style="font-size:0px; padding:10px 40px; word-break:break-word">
<table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="border-collapse:collapse; border-spacing:0px">
<tbody>
<tr>
<td style="font-size:16px; background-color: #437dd2; padding: 10px; border-radius:4px; font-family: Montserrat;"><a href="https://www.uneapp.com" style="color: white; text-decoration: none;" target="_blank">Découvrir les applications</a></td>
</tr>
</tbody>
</table>
</td>
</tr>
<tr>
<td style="font-size:0px; word-break:break-word">
<div style="height:30px">&nbsp; </div>
</td>
</tr>
</tbody>
</table>

</div>
<div style="background:#f7f8f9; background-color:#f7f8f9; margin:0px auto; max-width:580px">
<table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="background:#f7f8f9; background-color:#f7f8f9; width:100%">
<tbody>
<tr>
<td style="direction:ltr; font-size:0px; padding:20px 0; text-align:center; vertical-align:top">
<div class="x_mj-column-per-100 x_outlook-group-fix" style="font-size:13px; text-align:center; direction:ltr; display:inline-block; vertical-align:top; width:100%">
<table border="0" cellpadding="0" cellspacing="0" role="presentation" width="100%" style="vertical-align:top">
<tbody>
<tr>
<td align="center" style="font-size:0px; padding:10px 40px; word-break:break-word">
<div style="font-family: Montserrat; font-size: 12px; font-style: italic; font-weight: 400; line-height: 160%; text-align: center; color: rgb(170, 170, 170);">Copyright © 2018 uneapp.com</div>
</td>
</tr>
</tbody>
</table>
</div>
</td>
</tr>
</tbody>
</table>
</div>
</td>
</tr>
</tbody>
</table>
</div>
</div>
</div>

</div>

  </body>
</html>