<style>
strong.premium {
    color: #467fcf;
}
.card.premium {
    max-width:400px;
    margin:auto;
}
.card-body.premium {
    text-align: center;
}
</style>
<div class="page-header">
    <h1 class="page-title">
            Premium
    </h1>
</div>
                        <div class="card premium">   
                        <div class="card-body premium">
                        <h1>Bientôt disponible</h1>
                            <h6 class="mt-4">Vous souhaitez être informé de la date de sortie de notre <br><br>formule <strong class="premium">Premium</strong> ?</h6>
                            <br>
                            <p>Indiquez votre adresse email ci-dessous :</p>
                            </center>
                            <iframe width="350" height="150" src="https://my.sendinblue.com/users/subscribe/js_id/3tn1g/id/1" frameborder="0" scrolling="auto" allowfullscreen style="display: block;margin-left: auto;margin-right: auto;max-width: 100%;"></iframe>
                        </div>
                        </div>