<style>
#connexion {
    display:none;
}
.col-md-8.col-lg-6 {
    max-width: 100%;
    margin: auto;
    margin-top: 10em;
}
.card-footer.text-right {
    border:0px!important;
    background:none;
    padding-top: 0px;
}
.row {
    text-align: center;
}
body {
  font-family: 'Montserrat', sans-serif;
  width: 100%;
  min-height: 100vh;
}

.container {
  height: auto !important;
  min-height: 100%;
  min-height: calc(100% - 14em);
}

</style>
                    <div class="row">
                        <div class="col-md-8 col-lg-6">
                            <h1>Message envoyé !</h1>
                            <br>
                            <p>
                                Votre message a bien été envoyé.
                                Nous vous recontacterons dans les plus brefs délais.
                            </p>
                        </div>
                    </div>
                    <!--end of row-->