<section class="text-center height-40">
                <div class="container pos-vertical-center">
                    <div class="row">
                        <div class="col-md-8 col-lg-6">
                            <h1>Message envoyé !</h1>
                            <p class="lead">
                                Votre message a bien été envoyé.
                                Nous vous recontacterons dans les plus brefs délais.
                            </p>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>