<style>
.container {
    display: table;
    min-height: calc(100% - 10em);
}
.page-content {
    display: table-cell;
    vertical-align: middle;
}
.display-1 {
    font-family: "Source Sans Pro", -apple-system, system-ui, "Segoe UI", "Helvetica Neue", Arial, sans-serif;
    font-weight: 100;
}
</style>      

    <div class="page-content">
        <div class="container text-center">
          <div class="display-1 text-muted mb-5">404</div>
          <h1 class="h2 mb-3">Oups .. Vous venez de trouver une page d'erreur ..</h1>
          <p class="h4 text-muted font-weight-normal mb-7">Nous sommes désolés mais veuillez réessayez ...</p>
          <a class="btn btn-primary" href="https://www.uneapp.com">
            <i class="fas fa-long-arrow-alt-left"></i> Retour
          </a>
        </div>
      </div>