<style>
.panel.panel-default {
    border: 1px solid #e0e5ec;
    border-radius: 4px;
    padding: 10px;
    width: 240px;
    max-height:250px;
}
</style>
<% if @photos %>
<div class="row">
    <% @photos.each do |photo| %>
    <div class="col-md-4 mb-6">
        <div class="panel panel-default">
            <div class="panel-heading preview">
                <%= image_tag photo.image.url() %>
            </div>
        </div>
        <%= link_to photo, remote: true, method: :delete, data: {confirm: "Certain de vouloir supprimer cette image ?"} do %>
            <i class="fa fa-times fa-xs"></i> <small>Suppression</small>
        <% end %>
    </div>
    <% end %>
</div>

<% end %>