<style>
a.btn.btn-outline-primary.btn-sm {
color: #467fcf;
}
a.btn.btn-outline-primary.btn-sm:hover {
color: white;
}
@media only screen and (max-width: 800px){ 
.col-auto.footer {
    text-align:center;
}
.col-auto.footer .btn {
    margin-top:8px;
}
}
@media only screen and (max-width: 500px){ 
.col-auto {
        max-width: 400px;
        text-align: center;
}
form.input-icon {
  display:none;
}
}
</style>
  <footer class="footer mt-6">
        <div class="container">
          <div class="row align-items-center flex-row-reverse">
            <div class="col-auto ml-lg-auto">
              <div class="row align-items-center">
                <div class="col-auto footer">
                  <ul class="list-inline list-inline-dots mb-0">
                    <li class="list-inline-item"><a href="../contacts/new">Contactez-nous</a></li>
                    <li class="list-inline-item"><a href="../mentions">Conditions générales</a></li>
                  </ul>
                </div>
                <div class="col-auto">
                            <% if user_signed_in? %><% else %><a class="btn btn-outline-primary btn-sm" data-toggle="modal" data-target="#signUpModalEditor">Référencer un logiciel</a><% end %>
                </div>
              </div>
            </div>
            <div class="col-12 col-lg-auto mt-3 mt-lg-0 text-center">
              Copyright © 2018 <a href=".." style="font-size:16px;"><span class="une">une</span><span class="app">app</span></a>. Réalisé par <strong><a href="https://clydethomson.com" target="_blank">Clyde Thomson</a></strong>.
            </div>
          </div>
        </div>
      </footer>